@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('assets/login.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 30%;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-left: 1100px; /* Adjust the margin-left to shift the container to the right */
    margin-bottom: 100px;
}

.title h2 {
    font-weight: bold;
    font-size: 36px;
}

.title span {
    font-size: 18px;
}

.alter {
    padding: 15px;
    margin: 15px 0;
    border: 2px solid #2ecc71;
    background-color: #2ecc71;
    color: #fff;
    border-radius: 10px;
}

form {
    padding: 0 2em;
}

.form-group {
    margin-bottom: 30px;
}

.form-group input {
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
}

.form-group input::placeholder {
    font-size: 18px;
}

.form-group small {
    font-size: 16px;
}

.btn.btn-success {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

.btn.btn-success:hover {
    background-color: #1d9238;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin-left: auto; /* Center the container on smaller screens */
        margin-right: auto;
    }
}
